<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReachMate- Bill Format Invoice</title>

    <!-- google-font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>

        *{
            font-family: "Encode Sans Expanded", sans-serif;
            padding: 0px;
            margin: 0px;
        }

    </style>
</head>
<body>

    <div class="main-wrapper">

        <div class="top-bar">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <td style="width: 100;padding: 25px;text-align: center;align-items: center;font-size: 22px;color: #fff;background-color: #2b569b;">
                            Bill Format
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="main-table">
            <table style="width: 80%;margin: 0 auto;">
                <tr>
                    <td>
                       <p style="color: #c1c1c1;font-size: 21px;padding: 15px 0px;margin-top: 30px;">Reach Mate</p>
                       <hr style="color: #000;border-color: #000;opacity: 0.8;margin-top: 3px;">
                    </td>
                </tr>

                <tr>
                    <td style="width: 100%;text-align: center;padding: 50px;margin-top: 15px;">
                        <p style="font-size: 24px;color: #000;text-decoration: underline;font-weight: 600;letter-spacing: 4px;">Tax Invoice</p>
                    </td>
                </tr>

             

                <tr>
                    <td>
                        <div class="second-table">
                            <table style="border: 1px solid #c1c1c1;width: 100%;font-weight: 600;border-spacing: 0;">
                                <tr>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 13px;">
                                        ----------------------
                                    </td>
                                    <td style="width: 50%;padding: 13px;">
                                        Invoice Number. : _ _ _ -/2024-25
                                    </td>
                                </tr>
                             
                                <tr>
                                    <td style="border-right: 1px solid #c1c1c1;width: 50%;padding: 13px;">
                                        ----------------------
                                    </td>
                                    <td style="width: 50%;padding: 13px;">
                                        Invoice Date. : _ _ _ _ _ _ _
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 13px;">
                                       PAN No. : _ _ _ _ _ _ _ _ _ _ _ _ _
                                    </td>
                                    <td style="padding: 13px;">
                                        Due Date. : _ _ _ _ _ _ _
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 13px;">
                                        GST No. : _ _ _ _ _ _ _ _ _ _ _ _ _
                                    </td>
                                    <td style="width: 50%;padding: 13px;">
                                        Place of Supply : Mumbai/_ _ _ _ _ _ _
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr height="40px"></tr>

                <tr>
                    <td>
                        <div class="third-main-table">
                            <table style="border: 1px solid #c1c1c1;width: 100%;font-weight: 600;border-spacing: 0;">
                               <thead>
                                <tr>
                                    <th style="width: 20%;text-align: left;padding: 15px;border-right: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;">Sr. No.</th>
                                    <th style="width: 20%;text-align: left;padding: 15px;border-right: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;">HSN / SAC</th>
                                    <th style="width: 40%;padding: 15px;border-right: 1px solid #c1c1c1;border-bottom: 1px solid #c1c1c1;">Particulars</th>
                                    <th style="width: 20%;text-align: left;padding: 15px;border-bottom: 1px solid #c1c1c1;" >Fees</th>
                                </tr>
                               </thead>
                               <tbody>
                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        1.
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        998855
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ _/-
                                        </td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                       
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                       
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                      
                                        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        </td>
                                       
                                </tr>

                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                       
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                     
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        </td>
                                       
                                </tr>

                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                   
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                  
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        </td>
                                       
                                </tr>


                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                      
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;text-align: end;font-weight: 700;">
                                        CGST @ 9%
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ /-
                                        </td>
                                      
                                </tr>

                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                      
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;text-align: end;font-weight: 700;">
                                        SGST @ 9%
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ /-
                                        </td>
                                      
                                </tr>

                                <tr >
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                 
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                     
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;text-align: end;font-weight: 700;">
                                       Total
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 15px;">
                                        _ _ _ _ /-
                                        </td>
                                      
                                </tr>

                                <tr >
                                    <td style="padding: 5px 15px;font-weight: 700;">
                                        Amount in Words:
                                    </td>
                                    <td style="padding: 5px 15px;">
                                     
                                    </td>
                                    <td style="padding: 5px 15px;;text-align: end;">
                                      
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 5px 15px;font-weight: 700;">
                                       E. & O. E
                                        </td>
                                      
                                </tr>
                                <tr >
                                    <td style="padding: 5px 15px;font-size: 18px;font-weight: 700;" colspan="2">
                                        RS. _________________ Only
                                    </td>
                                   
                                    <td style="padding: 5px 15px;;text-align: end;">
                                      
                                    </td>
                                    <td style="border-right: 1px solid #c1c1c1;padding: 5px 15px;">
                                    
                                        </td>
                                      
                                </tr>
                                <tr height="25px"></tr>

                                <tr>
                                    <td colspan="4" style="padding: 15px;border-top: 1px solid #c1c1c1; font-size: 20px;font-weight: 800;">
                                        Terms and Conditions:
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="3" style="padding: 10px 25px;">
                                        1. Payment by "A/c Payee" Cheque/Online transfer only. 
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="3" style="padding: 10px 25px;">
                                        2. PAN No. : BBUPM2936F
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="3" style="padding: 10px 25px 25px;">
                                        3. GSTIN : 27BBUPM2936F2Z8
                                    </td>
                                    <td style="font-size: 21px;font-weight: 700;">
                                        Reach Mate
                                    </td>
                                </tr>  
                              
                                </tr>
                           

                               </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                  
                <tr height="100px">

                </tr>      
                
                <tr>
                    <td colspan="4" style="border-top: 2px solid #c1c1c1;">
                       <p style="width: 80%;margin: 0 auto;font-size: 19px;text-align: center;font-weight: 500;color: #686868;padding: 15px;line-height: 32px;">
                            301, Ruprel Iris, Senapati Bapat Marg, Matunga (West), Mumbai-40016  Mobile No. +91-_________ Email: __________________
                       </p>
                    </td>
                </tr>


            </table>
        </div>
     
    </div>
    
</body>
</html>