<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<title>varification Code</title>
</head>

<style>
</style>


<body
	style="width:100%;font-family: sans-serif;height:100%;background:#e6e6e6;margin: 0;padding: 0 10px;box-sizing: border-box; text-align: left; font-weight: 390;">
	<table cellspacing="0" cellpadding="0" width="100%"
		style="background-color: #fff;padding: 0;border-collapse:collapse;margin: 50px auto;max-width: 650px;width: 100%;"
		border="0">
		<tbody>
			<!-- <tr>
				<td height="20" style="background-color:#ddddfb;"></td>
			</tr> -->
			<tr>
				<td style="text-align: center;padding: 29px 47px;background: #101921;"><img src="https://betazone.promaticstechnologies.com/reachmate_rest_apis/public/assets/icons/reachmate.png"
						alt="Reach Mate" style="width: 50%;
					height: 47px;" /></td>
			</tr>
			<!-- <tr><td height="20"></td></tr>
			<tr><td height="20"></td></tr> -->
			<tr>
				<td style="padding: 35px 40px;color: #18364A;font-size: 18px;font-weight: 390;">
					<p style="text-align: left;">Hey <strong><%=name%></strong>,</p>
					Thank you for choosing ReachMate! To complete your registration, please use the following two-factor authentication code:
				</td>
			</tr>
			<tr>
				<td style="color: #18364A;font-size: 18px;line-height: 26px;padding: 0px 40px 26px 40px;
				text-align: left;">
				<strong>Here's your Verification Code: <%=otp%></strong>
				</td>
			</tr>
			<tr>
				<td style="padding: 0px 40px;color: #18364A;font-size: 18px;font-weight: 390;">
					<p style="text-align: left;"><p>
					If you didn't request this verification code, you can safely ignore this email. Your account security is important to us.
				</td>
			</tr>
            <tr>
				<td style="padding: 0px 40px;color: #18364A;font-size: 18px;font-weight: 390;">
					<p style="text-align: left;"><p>
					Welcome to ReachMate!
				</td>
			</tr>
			<tr>
				<td style=" padding: 20px 40px;color: #18364A;font-size: 16px;font-weight: 390;">
					Best Regards! <br/> ReachMate Team
				</td>
			</tr>
			<tr style="width: 100%;">
				<td>
					<table style="width: 100%; background-color:#ffb7788f; padding: 23px;">
						<tr style="text-align: center;">
							<td><span> Need more help?</span>
							</td>
						</tr>
						<tr style="text-align: center;">
							<td><span><a href="#" style="color: #FF8012;"> we're here,ready to talk</a></span>
							</td>
						</tr>
					</table>
					<span></span>
				</td>
			</tr>
			<tr>
				<td
					style="padding: 10px 40px 0; color: #18364A;font-size: 15px;line-height: 25px; text-align: center; background: #e6e6e64f;">
					<span style="padding-right: 10px; border-right: 1px solid grey;"><a href="https://reachmate.app/privacypolicy"
							style="color: #FF8012; text-decoration: underline; ">Privacy Policy</a>
						</span>
						<!-- <span style="color: grey;"> |</span> -->
					<span style="padding-left: 10px;"><a href="https://reachmate.app/"
							style="color: #FF8012; text-decoration: underline;">www.Reachmate.app</a></span>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; color: #3d3d3d; background: #e6e6e64f; padding: 10px 74px 3px; font-size: 14px;"><p> Please do not reply directly to this email. This was sent from an address that cannot accept responses. For questions or assistance,
					<a href="#">visit our Help Center</a>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; color: #3d3d3d; background: #e6e6e64f; padding: 0px 40px 20px; font-size: 14px;"><p style="margin: 0">Reach Mate © Copyright 2024 - All Rights Reserved.</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>